In [1]:
import numpy as np
import pandas as pd
import math as mt

df = pd.DataFrame(columns=['Xi-1','Xi','Xi+1','Error'])
def f(x):
    return mt.cos(x)-(1.3*x)

def secant():
    count = 0
    a= np.zeros(20)
    a[0] = int(input("Enter 1st Guess"))
    a[1] = int(input("Enter 2nd Guess"))
    tol = float(input("Enter Tolerance"))
    for i in range(1,20):
        count = count +1
        a[i+1] = a[i]-(f(a[i])*(a[i]-a[i-1])/(f(a[i])-f(a[i-1])))
        error = np.abs(a[i+1]-a[i])
        df.loc[count] = [a[i-1],a[i],a[i+1],error]
        if error <= tol:
            break
            
secant()
df

Enter 1st Guess2
Enter 2nd Guess3
Enter Tolerance0.001

       Xi-1        Xi      Xi+1     Error
1  2.000000  3.000000  0.390397  2.609603
2  3.000000  0.390397  0.595558  0.205160
3  0.390397  0.595558  0.625805  0.030247
4  0.595558  0.625805  0.624174  0.001630
5  0.625805  0.624174  0.624185  0.000010