In [2]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('Real_estate.csv')
df

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
No                                        414 non-null int64
X1 transaction date                       414 non-null float64
X2 house age                              414 non-null float64
X3 distance to the nearest MRT station    414 non-null float64
X4 number of convenience stores           414 non-null int64
X5 latitude                               414 non-null float64
X6 longitude                              414 non-null float64
Y house price of unit area                414 non-null float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

In [5]:
df.columns

Index(['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude',
       'Y house price of unit area'],
      dtype='object')

In [6]:
df = df.drop('No', axis=1)
df.sample()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
1,2012.917,19.5,306.5947,9,24.98034,121.53951,42.2

In [8]:
x = df.drop('Y house price of unit area', axis=1)
y = df['Y house price of unit area']

In [9]:
x_train, x_test, y_train, y_test =    train_test_split(x, y, test_size=0.2)

In [10]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
prd_values = model.predict(x_test)

In [12]:
print(x_train)

     X1 transaction date  X2 house age  \
338             2012.917          31.5
287             2013.000          19.2
369             2012.667          20.2
110             2013.083           8.1
137             2013.500          13.6
..                   ...           ...
12              2012.917          13.0
91              2013.250           9.1
355             2013.250           3.8
32              2012.750          37.9
125             2013.167           1.1

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
338                                258.1860                                9
287                                461.1016                                5
369                               2185.1280                                3
110                                104.8101                                5
137                                319.0708                                6
..                                      ...                              ...
12                                 492.2313                                5
91                                1402.0160                                0
355                                383.8624                                5
32                                 488.5727                                1
125                                193.5845                                6

     X5 latitude  X6 longitude
338     24.96867     121.54331
287     24.95425     121.53990
369     24.96322     121.51237
110     24.96674     121.54067
137     24.96495     121.54277
..           ...           ...
12      24.96515     121.53737
91      24.98569     121.52760
355     24.98085     121.54391
32      24.97349     121.53451
125     24.96571     121.54089

[331 rows x 6 columns]

In [14]:
sumof = 0
for i in range(0,len(y)):
    sumof = sumof + ((y_train[i]-prd_values[i])**2)

0      37.9
1      42.2
2      47.3
3      54.8
4      43.1
       ...
409    15.4
410    50.0
411    40.6
412    52.5
413    63.9
Name: Y house price of unit area, Length: 414, dtype: float64
[44.64058083 36.97057344 43.83774369 32.75480867 36.52037162 32.64913297
 51.72660537 31.85716407 33.19140862  8.99810023 30.85824568 33.98751466
 45.09554046 47.12046766 12.41544025 43.6698931  33.83866718 45.15597466
 36.47931068 13.12093435 48.11034311 44.87059031 34.0172936  37.1646744
 54.71300722 43.44012663 33.82419191 45.22712617 45.47127579 31.01560087
 53.39087133 38.01828197 44.58014245 42.8282484  31.81699999 46.9191488
 12.59954449 47.02594868 50.51937057 38.94448497 46.93020214  6.9643896
 46.71282541 46.78472014 47.33744394 50.33661556 47.94398264 10.10330492
 39.38639267 40.51711156 37.00224939 43.38503786 47.06475989 51.28394277
 53.39087133 12.7232629  29.00183084 45.81658748 39.35728351 12.50387683
 36.90588343 51.42302202 40.84309023 33.41484219 43.95129372 32.85693468
 42.04965227 15.91660243 31.10628644 39.57520746 46.25822466 37.58239632
 54.19227045 43.65071689 33.74893496 47.06475989 43.8425797  47.13554174
 37.34008944 40.70727936 43.6698931  35.65231381 41.66720563]

In [17]:
model.score(x_test, y_test)

0.6804018460409214

In [18]:
model.coef_

array([ 5.25230352e+00, -2.76157205e-01, -4.61945334e-03,  1.14536044e+00,
        2.19694623e+02, -1.63808351e+01])

In [17]:
model.intercept_

-15177.996107204513

In [ ]:
def compute_error(_b,_m,_x,_y):
    m = _m
    b = _b
    totalerror = 0
    for i in range(0,len(x)):
        x = _x[i]
        y = _y[i]
        totalerror += (y - (m*x + b))**2
    return totlerror / len(x)

def step_gredient(_b,_m,_x,_v,l):
    #dssdsdsdsdds
    b_g = 0
    m_g = 0
    n = len(x)
    for i in range(0,n):
        x = _x[i]
        y = _y[i]
        b_g += -(2/n) * (y- (_m * x) + _b)
        m_g += -(2/n) * x * (y- (_m * x) + _b)
    bnew = _b - l * b_g
    mnew = _m - l * m_g
    return bnew,mnew

def gredient_decent_ruuner(x,y,_l,_m,_b,_i):
    m = _m
    b = _b
    for i in range(_i):
        b , m = step_gredient(b,m,x,v,l)
    return = b,m

l = 0.0001
m = 0
b = 0
iterations = 1000
b,m = gredient_decent_ruuner(x,y,l,m,b,i)
print(b,m)